/* Write your CSS here */
.todo-item-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.todo-item-title {
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #000;
}
.delete-button {
  border: 1px solid #ff0b37;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 400;
  border-radius: 6px;
  padding: 6px;
  background-color: transparent;
  width: 80px;
  cursor: pointer;
  color: #ff0b37;
}
